---
---

$oy-green: #B9DC0C;
$oy-green-secondary: #50B9A4;

article.year-one {

  #logo {
    position: fixed;
    top: 20px;
    left: 100px;
    height: 20px;
  }

  span.nobr {
    white-space: nowrap;
  }

  /*
    The two background elements overlap and are alternated in opacity by JavaScript
    to allow new images to load off screen and then fade in.
  */
  .background {
    content: ' ';
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1;
    background-image: url('https://s3-eu-west-1.amazonaws.com/informatics-webimages/articles/2016-03-30-year-one/backg-1.jpg');
    background-size: cover;
    background-attachment: fixed;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }

  h1 {
    font-family: 'Emeric';
    font-weight: normal;
    color: $oy-green-secondary;
    height: 100vh;
    width: 100%;
    padding-top: 30vh;
    margin-top: 0;
    font-size: 100px;
    text-align: center;

    small {
      font-size: 60px;
      display: block;
      text-transform: lowercase;
      font-weight: lighter;
    }

    &::before {
      content: 'Keep those fingers scrolling';
      font-size: 10px;
      color: #777;
      text-transform: uppercase;
      opacity: 0.8;
      position: absolute;
      text-align: center;
      bottom: 90px;
      left: 0;
      width: 100%;
    }
  }

  h2 {
    font-family: 'Emeric';
    position: relative;
    font-size: 20px;
    text-align: center;
    line-height: 2em;
    text-transform: uppercase;
    width: 50%;
    margin-top: 0;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: -40px; /* negative margin so it overlaps the following paragraph box */
    padding: 50px;
    padding-bottom: 0;
    background-color: white;
    color: black;
    z-index: 10;

    &::before {
      /* a short underline */
      content : "";
      position: absolute;
      left    : 45%;
      bottom  : 0;
      height  : 10px;
      width   : 10%;
      border-bottom:1px solid black;
    }
  }

  h3 {
    font-family: 'Emeric';
    font-weight: 200;
    position: relative;
    font-size: 60px;
    text-align: center;
    line-height: 2em;
    text-transform: uppercase;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 0px;
    margin-bottom: 200px;
    margin-top: 0px;
    color: #2A2A2A;
    z-index: 10;
    background: url('https://s3-eu-west-1.amazonaws.com/informatics-webimages/articles/2016-03-30-year-one/timeline_line-02.svg');
    background-repeat: repeat-y;
    background-position: center;
    background-size: 40px auto;
    border: #2A2A2A solid 2px;

    &::after {
      /* this is the timeline joiner */
      content: '';
      background: url('https://s3-eu-west-1.amazonaws.com/informatics-webimages/articles/2016-03-30-year-one/timeline_line-02.svg');
      position: absolute;
      margin-left: -20px;
      top: 100%;
      left: 50%;
      height: 200px;
      width: 40px;
    }
  }

  h4 {
    position: relative;
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 200px;
    padding: 50px;
    color: #2A2A2A;
    z-index: -1;
    background: url('https://s3-eu-west-1.amazonaws.com/informatics-webimages/articles/2016-03-30-year-one/timeline_line-02.svg');
    background-repeat: repeat-y;
    background-position: center;
    background-size: 40px auto;

    img {
      width: 100%;
    }

    &:first-of-type::before {
      /* this is the timeline top */
      content: '';
      background: url('https://s3-eu-west-1.amazonaws.com/informatics-webimages/articles/2016-03-30-year-one/timeline_line-03.svg');
      position: absolute;
      margin-top: -76px;
      margin-left: -20px;
      top: 0px;
      left: 50%;
      height: 80px;
      width: 40px;
    }

    &::after {
      /* this is the timeline joiner */
      content: '';
      background: url('https://s3-eu-west-1.amazonaws.com/informatics-webimages/articles/2016-03-30-year-one/timeline_line-02.svg');
      position: absolute;
      margin-left: -20px;
      top: 100%;
      left: 50%;
      height: 200px;
      width: 40px;
    }
  }

  h5 {
    /* h4 is reserved for the "did you know?" sections */
    font-size: 16px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: -40px; /* negative margin so it overlaps the following paragraph box */
    padding: 50px;
    padding-bottom: 0;
    background-color: black;
    color: white;
    z-index: 10;

    &:before {
      /* add infoicon to the did you know headings */
      content: ' ';
      background: url(https://s3-eu-west-1.amazonaws.com/informatics-webimages/articles/2016-03-30-year-one/infoicon.svg);
      background-repeat: no-repeat;
      width: 16px;
      height: 16px;
      margin-left: -20px;
      padding-right: 20px;
    }
  }

  p {
    position: relative;
    font-size: 14px;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 200px;
    padding: 50px;
    background-color: white;
    color: black;
    z-index: -1;

    img {
      width: 100%;
    }

    &.image {
      /* don't pad paraghraphs containing images, this class is added automatically by JavaScript */
      padding: 0;
      margin-bottom: 0; /* remove bottom margin so images stick to the following paragraph */
    }

    &:not(:last-of-type):not(.image)::after {
      /* this is the timeline joiner */
      content: '';
      background: url('https://s3-eu-west-1.amazonaws.com/informatics-webimages/articles/2016-03-30-year-one/timeline_line-02.svg');
      position: absolute;
      margin-left: -20px;
      top: 100%;
      left: 50%;
      height: 200px;
      width: 40px;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    margin-bottom: 200px;
    margin-top: -200px;

    li {
      position: relative;
      font-size: 14px;
      text-align: center;
      width: 50%;
      margin-left: 25%;
      margin-right: 25%;
      padding: 10px;
      background-color: $oy-green;
      border-top: solid white 2px;
      color: black;
      list-style: none;

      a,
      a:hover,
      a:focus,
      a:active,
      a.active {
        outline: none;
      }

      a {
        color: black;
        text-decoration: underline;
      }

      a:hover,
      a:focus,
      a:active,
      a.active {
        color: lighten(black, 50%);
      }
    }

    &::after {
      /* this is the timeline joiner */
      content: '';
      background: url('https://s3-eu-west-1.amazonaws.com/informatics-webimages/articles/2016-03-30-year-one/timeline_line-02.svg');
      position: absolute;
      margin-left: -20px;
      left: 50%;
      height: 200px;
      width: 40px;
    }
  }

  h5 + p {
    /* make paragraphs which follow an h4 match the style of the h4 */
    background-color: black;
    color: white;
    text-align: left;
  }



}

footer {
  font-size: 12px;
  background-color: transparent;
}
