---
layout: default
---

<h2>What we're working on now</h2>
<p>These are some of the things that we are working on right now. If you are interested in working with us on any of these, please get in contact.</p>

{% for project in site.projects %}
	{% if project.completed == false %}
		<ul>
			<h4><a href={{ project.url }}>{{ project.title }}</a></h4>
			<p>{{ project.summary }}</p>
		</ul>
	{% endif %}
{% endfor %}

<h2>Previous projects</h2>
<p>Here you can find a list of projects we've worked on in the past.<p>

{% for project in site.projects %}
	{% if project.completed %}
		<ul>
			<h4><a href={{ project.url }}>{{ project.title }}</a></h4>
			<p>{{ project.summary }}</p>
		</ul>
	{% endif %}
{% endfor %}
