---
layout: default
permalink: /404.html
---

<body id="page-top">

  {% include navigation.html %}

  <!-- Header image -->
  <header class="front-header">
      <div class="container">
          <div class="intro-text">
              <div class="intro-heading">404</div><br />
              <q class="four-oh-four">Frustrating. I had Tron almost ready when Dillinger cut everyone with Group-7 access out of the system. I tell you ever since he got that Master Control Program, the system's got more bugs than a bait store. </q><br />
              <a href="/" class="page-scroll btn btn-xl">return home</a>
          </div>
      </div>
  </header>

  {% include footer.html %}

</body>
