---
layout: default
permalink: /404.html
---

<body id="page-top">

  {% include navigation.html %}

  <!-- Header image -->
  <header class="front-header">
      <div class="container">
          <div class="intro-text">
              <div class="intro-heading" style="color: darkred;">404</div><br />
              <q class="four-oh-four">He who learns but does not think, is lost! He who thinks but does not learn is in great danger.</q><br />
              <a href="/" class="page-scroll btn btn-xl">return home</a>
          </div>
      </div>
  </header>

  {% include footer.html %}

</body>
