# Site settings
title:       Met Office Lab
email:       met-office-lab@gmail.com
author:      Met Office Lab
description: "A lab at the Met Office for creating things!"
baseurl:     ""
url:         http://met-office-lab.github.io
github-url:  http://github.com/met-office-lab/
twitter-url: http://twitter.com/metolab/


# Google analytics
google_analytics:

# Optional features
animated:           false
show_related_posts: false
show_post_footers:  false

# Disqus post comments
# (leave blank to disable Disqus)
disqus_shortname:

# Social icons
show_social_icons: false
github_username:
stackoverflow_id:
twitter_username:
google_plus_id:
linkedin_username:
bitcoin_url:
paypal_url:
flattr_button:

# Build settings
markdown:     redcarpet
redcarpet:
  extensions: ['smart', 'tables', 'with_toc_data']
permalink:    pretty
paginate:     3
sass:
  compressed: true

collections:
    profiles:
        output: true
        permalink: /people/:path/
    projects:
        output: true
        permalink: /projects/:path/