---
layout: front
---
<body id="page-top" class="index">

    {% include navigation.html %}

    <!-- Header image -->
    <header class="front-header">
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Useful. Beautiful. Data.</div><br />
                <div class="intro-para">
                    <p>The Met Office Informatics Lab combines scientists, software engineers, and designers to create new things. We try to rapidly prototype non-business-as-usual ideas that allow people from within the Met Office (and beyond) to make our science and data useful.</p>
                </div>
                <a href="#get-involved" class="page-scroll btn btn-xl">Get Involved</a>
            </div>
        </div>
    </header>

    {% include get-involved.html %}

    {% include blog.html %}

    {% include projects.html %}

    {% include team.html %}

    {% include contact-form.html %}

    {% include footer.html %}

</body>
