---
layout: front
---

<body id="page-top" class="index">

    {% include navigation.html %}

    <!-- Header image -->
    <header class="front-header">
      <div class="fullscreen-bg">
          <video class="fullscreen-bg__video video-playing" id="pretzel-video" preload="auto" loop  muted autoplay
            poster="https://s3-eu-west-1.amazonaws.com/informatics-webimages/CB5A1046.jpg">
            <source src="https://images.informaticslab.co.uk/videos/index/sandpit.mp4" type="video/mp4">
            <source src="https://images.informaticslab.co.uk/videos/index/sandpit.webm" type="video/webm">
          </video>
      </div>
      <div class="darken">
      </div>
      <div id="hex-1" class="hexagons">
      </div>
      <div id="hex-2" class="hexagons">
      </div>
      <div class="container">
        <div class="intro-text">
            <div class="intro-heading">Useful. Beautiful. Data.</div><br />
            <div class="intro-para">
                <p>{{ site.description }}</p>
            </div>
            <a href="#projects" class="page-scroll btn btn-xl">See our work</a>
        </div>
      </div>
    </header>

    {% include projects.html %}

    {% include blog.html %}

    {% include contact-form.html %}

    {% include footer.html %}

</body>
