// Global Components

body {
  overflow-x: hidden;
  @include body-font;
}

.text-muted {
  color: $gray;
}

.text-primary {
  color: $brand-primary;
}

p {
  font-size: 14px;
  line-height: 1.75;
}

p.large {
  font-size: 16px;
}

@include a-variant($brand-primary);

h1, h2, h3, h4, h5, h6 {
   @include heading-font;
  //font-weight: 700;
}

.img-centered {
  margin: 0 auto;
}

.bg-light-gray {
  background-color: $gray-lighter;
}

.bg-darkest-gray {
  background-color: $gray-darkest;
}

//custom button styling
.btn-primary {
  @include button-variant($gray-darkest, $brand-primary, $brand-primary);
  @include heading-font;
  font-weight: 700;
}

.btn-xl {
  @include button-variant($gray-darkest, $brand-primary, $brand-primary);
  @include heading-font;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}

// Custom Navigation Bar

.navbar-default {
  background-color: $gray-darkest;
  border-color: transparent;
  .navbar-logo {
    height: 40px;
  }
  .navbar-collapse {
    border-color: fade(white, 2%);
  }
  .navbar-toggle {
    background-color: $brand-primary;
    border-color: $brand-primary;
    .icon-bar {
      background-color: white;
    }
    &:hover,
    &:focus {
      background-color: $brand-primary;
    }
  }
  .nav {
    li {
      a {
        @include body-font;
        font-weight: 400;
        letter-spacing: 1px;
        color: white;
        &:hover {
          color: $brand-primary;
          outline: none;
        }
        &:focus {
          color: white;
        }
      }
    }
  }
  .navbar-nav>.active>a {
    border-radius: 0;
    color: $gray-darkest;
    background-color: $brand-primary;
  }
  .navbar-nav>.active>a:hover,
  .navbar-nav>.active>a:focus {
    color: $gray-darkest;
    background-color: darken($brand-primary, 10%);
  }
}


@media(min-width:768px) {
  .navbar-default {
    background-color: $gray-darkest;
    padding: 10px 0 10px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
    height: 120px;
    @include navbar-animate();
    .navbar-logo {
      @include navbar-animate();
      height: 90px;
    }
    .navbar-nav {
      @include navbar-animate();
      margin-top: 53px;
      li {
        a {
          line-height: 5px;
        }
      }
    }
    .navbar-nav>.active>a {
      border-radius: 3px;
    }
  }
  .navbar-default.navbar-shrink {
    background-color: $gray-darkest;
    padding: 10px 0 10px 0;
    height: 80px;
    .navbar-logo {
      height: 50px;
    }
    .navbar-nav {
      margin-top: 20px;
    }
  }
}

header {
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  margin-top: 10px;
  @include background-cover;
  text-align: center;
  color: white;
  .intro-text {
    padding-top: 0px;
    padding-bottom: 50px;
    .intro-lead-in {
      @include serif-font;
      font-style: italic;
      font-size: 22px;
      line-height: 22px;
    }
    .intro-heading {
      @include heading-font;
      font-weight: 700;
      font-size: 30px;
      line-height: 30px;
      color: $gray-darkest;
      display: inline-block;
      background-color: white;
      padding: 0 10px;
    }
    .intro-heading::after { content:"\A"; display:block; }
    .btn {
      @include body-font;
      text-transform: uppercase;
    }
    .intro-para {
      @include serif-font;
      color: white;
      background-color: $gray;
      padding: 10px;
      margin-top: 50px;
      max-width: 69%;
      margin-left: auto;
      margin-right: auto;
    }
    q {
      font-size: 18px;
      color: white;
      display: inline-block;
      background-color: $gray-darkest;
      padding: 0 10px;
      margin-bottom: 10px;
    }
  }
}
.front-header {
  background-image: url($header-front);
  .intro-heading {
    margin-top: 50px;
    margin-bottom: 100px;
  }
}
.blog-header {
  background-image: url($header-blog);
}

.post-header {
  margin-top: -20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  span {
    margin: 0 20px;
    padding: 2px 0px;
    background: $mo-dark-grey;
    color: $brand-primary;
    box-shadow: 5px 0 0 $mo-dark-grey, -5px 0 0 $mo-dark-grey;
  }
}

@media(min-width:768px) {
  header {
    margin-top: 80px;
    .intro-text {
      padding-top: 0px;
      padding-bottom: 0px;
      .intro-lead-in {
        @include serif-font;
        font-style: italic;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px;
      }
      .intro-heading {
        @include heading-font;
        font-weight: 200;
        font-size: 55px;
        line-height: 75px;
        margin-bottom: 50px;
      }
    }
  }
  .front-header {
    .intro-text{
      padding-bottom: 300px;

      .intro-heading {
        margin-top: 100px;
      }
    }
  }
  .post-header {
    margin-top: -20px;
    margin-bottom: 20px;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    span {
      margin: 0 20px;
      padding: 2px 0px;
      background: $mo-dark-grey;
      color: $brand-primary;
      box-shadow: 5px 0 0 $mo-dark-grey, -5px 0 0 $mo-dark-grey;
    }
  }
}

// Global Section Styles

section {
  padding: 100px 0;
  h2.section-heading {
    display: inline-block;
    color: white;
    background-color: $mo-medium-grey;
    padding: 0 0.3em;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  h3.section-subheading {
    font-size: 16px;
    @include serif-font;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 75px;
  }
}

@media(min-width:768px) {
  section {
    padding: 150px 0;
  }
}



// Footer

footer {
  padding: 25px 0;
  text-align: center;
  span.copyright {
    line-height: 40px;
    @include heading-font;
    text-transform: none;
  }
  ul.quicklinks {
    @include a-variant($gray-darkest);
    margin-bottom: 0;
    line-height: 40px;
    @include heading-font;
    text-transform: none;
  }
}

// Social Buttons

ul.social-buttons {
  margin-bottom: 0;
  li {
    a {
      display: block;
      background-color: $gray-darkest;
      height: 40px;
      width: 40px;
      border-radius: 100%;
      font-size: 20px;
      line-height: 40px;
      color: white;
      outline: none;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      &:hover,
      &:focus,
      &:active {
        background-color: $brand-primary;
        color: $gray-darkest;
      }
    }
  }
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;
}

// Highlight Color Customization

::-moz-selection {
  text-shadow: none;
  background: $brand-primary;
}

::selection {
  text-shadow: none;
  background: $brand-primary;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  webkit-tap-highlight-color: $brand-primary;
}
