// Global Components

html {
  height: 100%;
}

body {
  overflow-x: hidden;
  @include body-font;
  font-size: 16px;
  background-color: $gray-lighter;
}

.text-muted {
  color: $gray;
}

.text-primary {
  color: $brand-primary;
}

p {
}

p.large {
  font-size: 22px;
}

@include a-variant($brand-primary);

h1, h2, h3, h4, h5, h6 {
  @include heading-font;
  //font-weight: 700;
}

.img-centered {
  margin: 0 auto;
}

.bg-light-gray {
  background-color: $gray-lighter;
}

.bg-darkest-gray {
  background-color: $gray-darkest;
}

//custom button styling
.btn-primary {
  @include button-variant($gray-darkest, $brand-primary, $brand-primary);
  @include heading-font;
  font-weight: 700;
}

.btn-dark {
  @include button-variant(white, $gray-darkest, $gray-darkest);
  @include heading-font;
  font-weight: lighter;
  text-transform: uppercase;
  border-radius: 0;
  font-size: 18px;
  padding: 15px 30px;
}

.btn-xl {
  background-color: white;
  color: $mo-dark-grey;
  @include heading-font;
  font-weight: lighter;
  text-transform: uppercase;
  border-radius: 0;
  font-size: 18px;
  padding: 15px 30px;

  &:hover,
  &:focus,
  &:active,
  &.active {
    // color: $mo-green;
    @include button-variant(white, transparent, white);
  }
}

// Custom Navigation Bar

$navbar-height: 50px;
.navbar-default {

  border: none;


  background-color: $mo-dark-grey;
  height: $navbar-height;

  .navbar-header {

    a {
      height: $navbar-height;
      line-height: 45px;
      text-decoration: none;
      color: white;
      .navbar-logo {
        height: $navbar-height - 18px;
        padding-top: 4px;
        padding-left: 5px;
        margin-left: 0;
      }
      .navbar-title {
        font-size: 18px;
        padding-left: 0px;
        vertical-align: -6px;
        padding-top:50px;
        padding-left:0px;
      }
    }
  }

  .navbar-collapse {
   background-color: $mo-dark-grey;
  }

  .navbar-toggle {
    border: none;
  }
  //  background-color: $brand-primary;
  //  border-color: $brand-primary;
  //  .icon-bar {
  //    background-color: white;
  //  }
  //  &:hover,
  //  &:focus {
  //    background-color: $brand-primary;
  //  }
  //}

  .navbar-nav {
    li {
      .active{
        background-color: $mo-dark-grey;
        color: $brand-primary;
      }
      a {
        @include body-font;
        color: white;
        &:hover {
          color: $brand-primary;
        }
        &:focus {
          color: $brand-primary;
        }
      }
    }
  }
}


@media(min-width: 768px) {

  .navbar-default {
    .navbar-header {

      a {
        .navbar-logo {
          height: $navbar-height - 16px;
          padding-left: 0;
          margin-left: 0;
        }
        .navbar-title {
          font-size: 24px;
          padding-top: 4px;
          padding-left: 15px;
        }
      }
    }
  }
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: $mo-dark-grey;
  color: $brand-primary;
}

.headerbkg {
  position: absolute;
  width: 100%;
  height: 250px;
  opacity: 0.3;
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  // margin-top: 10px;
  @include background-cover;
}

header {
  opacity: 1;
  width: 100%;
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  margin-top: 45px;
  @include background-cover;
  text-align: center;
  color: white;
  .intro-text {
    padding-top: 0px;
    padding-bottom: 50px;
    .intro-lead-in {
      @include serif-font;
      font-style: italic;
      font-size: 22px;
      line-height: 22px;
    }
    .intro-heading {
      @include heading-font;
      font-weight: 200;
      font-size: 30px;
      line-height: 30px;
      color: white;
      display: inline-block;
      padding: 0 10px;
      opacity: 1;
    }
    .intro-heading::after {
      content: "\A";
      display: block;
    }
    .btn {
      @include body-font;
      text-transform: uppercase;
    }
    .intro-para {
      color: white;
      padding: 10px;
      max-width: 69%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0px;
      margin-bottom: 50px;
      opacity: 0.8;
      @include body-font();
    }
    q {
      font-size: 20px;
      color: white;
      display: inline-block;
      background-color: $gray-darkest;
      padding: 0 10px;
      margin-bottom: 10px;
    }
  }
}

.tint {
  display: block;
  width: 100vw;
  height: 250px;
  background: rgba(0,0,0, 1);
}

@media(min-width:768px) {

  header {
    .intro-text {
      padding-top: 0px;
      padding-bottom: 0px;
      .intro-lead-in {
        @include serif-font;
        font-style: italic;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px;
      }
      .intro-heading {
        @include heading-font;
        font-size: 55px;
        line-height: 75px;
        margin-bottom: 50px;
        white-space: nowrap;
      }
    }
  }
  .front-header {
    .intro-text {
      padding-bottom: 150px;

      .intro-heading {
        margin-top: 150px;
        margin-bottom: 0px;

      }
    }
  }
  .post-header {
    margin-top: -20px;
    margin-bottom: 20px;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    span {
      margin: 0 20px;
      padding: 2px 0px;
      color: white;
    }
  }
  .tint {
    margin-top: 50px;
  }
}

// Global Section Styles

section {
  padding: 75px 0;
  h2.section-heading {
    display: inline-block;
    color: $mo-dark-grey;
    padding: 0 0.3em;
    font-size: 52px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 10px;
  }
  h3.section-subheading {
    font-weight: 200;
    font-size: 18px;
    color: $mo-dark-grey;
    text-transform: none;
    margin-top: 0px;
    margin-bottom: 55px;
    padding-bottom: 20px;
    border-bottom: solid 1px darken($gray-lighter, 20%);
  }
}

@media(min-width: 768px) {
  section {
    padding: 75px 0;
  }
}

// Footer

footer {
  padding: 25px 0;
  text-align: center;
  background-color: #FCFCFC;
  span.copyright {
    line-height: 40px;
    @include heading-font;
    text-transform: none;
  }
  ul.quicklinks {
    @include a-variant($gray-darkest);
    margin-bottom: 0;
    line-height: 40px;
    @include heading-font;
    text-transform: none;
  }
}

footer.sticky {
  position: absolute;
  bottom: 0px;
  width: 100%
}

// Social Buttons

ul.social-buttons {
  margin: 0;
  li {
    padding: 0;
    a {
      display: block;
      background-color: $gray-darkest;
      height: 40px;
      width: 40px;
      font-size: 30px;
      line-height: 40px;
      color: white;
      outline: none;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      &:hover,
      &:focus,
      &:active {
        background-color: $brand-primary;
        color: $gray-darkest;
        text-decoration: none;
      }
    }
  }

  .twitter a {
    background-color: #55acee;
  }

  .instagram a {
    background-color: #125688;
  }

  .github a {
    background-color: black;
  }

  .email a {
    background-color: #ea4335;
  }

  .rss a {
    background-color: #f26522;
  }
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;
}

// Highlight Color Customization

::-moz-selection {
  text-shadow: none;
  background: $brand-primary;
}

::selection {
  text-shadow: none;
  background: $brand-primary;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  webkit-tap-highlight-color: $brand-primary;
}

@media (min-width: 1200px) {
  article {
      max-width: 1170px;
  }
}
@media (min-width: 992px) {
  article {
      max-width: 970px;
  }
}
@media (min-width: 768px) {
  article {
      max-width: 750px;
  }
}
