// Global Components

body {
  overflow-x: hidden;
  @include body-font;
  font-size: 16px;
}

.text-muted {
  color: $gray;
}

.text-primary {
  color: $brand-primary;
}

p {
  font-size: 18px;
  line-height: 1.75;
}

p.large {
  font-size: 22px;
}

@include a-variant($brand-primary);

h1, h2, h3, h4, h5, h6 {
  @include heading-font;
  //font-weight: 700;
}

.img-centered {
  margin: 0 auto;
}

.bg-light-gray {
  background-color: $gray-lighter;
}

.bg-darkest-gray {
  background-color: $gray-darkest;
}

//custom button styling
.btn-primary {
  @include button-variant($gray-darkest, $brand-primary, $brand-primary);
  @include heading-font;
  font-weight: 700;
}

.btn-xl {
  @include button-variant($gray-darkest, $brand-primary, $brand-primary);
  @include heading-font;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}

// Custom Navigation Bar

.navbar-default {

  $navbar-height: 50px;

  background-color: $mo-dark-grey;
  height: $navbar-height;

  .navbar-header {
    width: 50%;
    a {
      height: $navbar-height;
      line-height: $navbar-height;
      text-decoration: none;
      color: white;
      span {
        vertical-align: -5px;
        font-size:24px;
        padding-top:50px;
        padding-left:30px;
      }
      .navbar-logo {
        height: $navbar-height - 16px;
        padding-left: 0;
        margin-left: 0;
      }
    }
  }


//.navbar-collapse {
//  border-color: fade(white, 2%);
//}

//.navbar-toggle {
//  background-color: $brand-primary;
//  border-color: $brand-primary;
//  .icon-bar {
//    background-color: white;
//  }
//  &:hover,
//  &:focus {
//    background-color: $brand-primary;
//  }
//}

.navbar-nav {
  li {
    .active{
      background-color: $mo-dark-grey;
      color: $brand-primary;
    }
    a {
      @include body-font;
      color: white;
      &:hover {
        color: $brand-primary;
      }
      &:focus {
        color: $brand-primary;
      }
    }
  }
}
}

.navbar-nav li.active {
  background-color: $mo-dark-grey;
  color: $brand-primary;
}

header {
  //background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  margin-top: 10px;
  @include background-cover;
  text-align: center;
  color: white;
  .intro-text {
    padding-top: 0px;
    padding-bottom: 50px;
    .intro-lead-in {
      @include serif-font;
      font-style: italic;
      font-size: 22px;
      line-height: 22px;
    }
    .intro-heading {
      @include heading-font;
      font-weight: 700;
      font-size: 30px;
      line-height: 30px;
      color: $gray-darkest;
      display: inline-block;
      background-color: white;
      padding: 0 10px;
    }
    .intro-heading::after {
      content: "\A";
      display: block;
    }
    .btn {
      @include body-font;
      text-transform: uppercase;
    }
    .intro-para {
      color: white;
      background-color: $gray;
      padding: 10px;
      max-width: 69%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0px;
      margin-bottom: 50px;
      opacity: 0.8;
      @include body-font();
    }
    q {
      font-size: 20px;
      color: white;
      display: inline-block;
      background-color: $gray-darkest;
      padding: 0 10px;
      margin-bottom: 10px;
    }
  }
}

.front-header {
  background-image: url($header-front);
  .intro-heading {
    margin-top: 50px;
    margin-bottom: 100px;
  }
}

.blog-header {
  background-image: url($header-blog);
}

.post-header {
  margin-top: -20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  span {
    margin: 0 20px;
    padding: 2px 0px;
    background: $mo-dark-grey;
    color: $brand-primary;
    box-shadow: 5px 0 0 $mo-dark-grey, -5px 0 0 $mo-dark-grey;
  }
}

@media(min-width: 768px) {
  header {
    margin-top: 80px;
    .intro-text {
      padding-top: 0px;
      padding-bottom: 0px;
      .intro-lead-in {
        @include serif-font;
        font-style: italic;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px;
      }
      .intro-heading {
        @include heading-font;
        font-weight: 200;
        font-size: 55px;
        line-height: 75px;
        margin-bottom: 50px;
      }
    }
  }
  .front-header {
    .intro-text {
      padding-bottom: 150px;

      .intro-heading {
        margin-top: 100px;
      }
    }
  }
  .post-header {
    margin-top: -20px;
    margin-bottom: 20px;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    span {
      margin: 0 20px;
      padding: 2px 0px;
      background: $mo-dark-grey;
      color: $brand-primary;
      box-shadow: 5px 0 0 $mo-dark-grey, -5px 0 0 $mo-dark-grey;
    }
  }
}

// Global Section Styles

section {
  padding: 100px 0;
  h2.section-heading {
    display: inline-block;
    color: white;
    background-color: $mo-medium-grey;
    padding: 0 0.3em;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  h3.section-subheading {
    font-size: 18px;
    @include serif-font;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 75px;
  }
}

@media(min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

// Footer

footer {
  padding: 25px 0;
  text-align: center;
  span.copyright {
    line-height: 40px;
    @include heading-font;
    text-transform: none;
  }
  ul.quicklinks {
    @include a-variant($gray-darkest);
    margin-bottom: 0;
    line-height: 40px;
    @include heading-font;
    text-transform: none;
  }
}

// Social Buttons

ul.social-buttons {
  margin-bottom: 0;
  li {
    a {
      display: block;
      background-color: $gray-darkest;
      height: 40px;
      width: 40px;
      border-radius: 100%;
      font-size: 20px;
      line-height: 40px;
      color: white;
      outline: none;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      &:hover,
      &:focus,
      &:active {
        background-color: $brand-primary;
        color: $gray-darkest;
      }
    }
  }
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;
}

// Highlight Color Customization

::-moz-selection {
  text-shadow: none;
  background: $brand-primary;
}

::selection {
  text-shadow: none;
  background: $brand-primary;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  webkit-tap-highlight-color: $brand-primary;
}
