@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:hover,
  &:focus,
  &:active,
  &.active,
  .open .dropdown-toggle {
    color: $color;
    background-color: darken($background, 10%);
    border-color: darken($border, 12%);
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}

@mixin a-variant($color) {
  a,
  a:hover,
  a:focus,
  a:active,
  a.active {
    outline: none;
  }

  a {
    color: $color;
  }

  a:hover,
  a:focus,
  a:active,
  a.active {
    color: darken($color, 10%);
  }
}

@mixin navbar-animate() {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

// Background Features
@mixin background-cover() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

// Font Selections
@mixin serif-font() {
  font-family: "Emeric", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin script-font() {
  //font-family: "Merriweather", "PT Serif";
  font-family: "Emeric", "Helvetica Neue", Helvetica, Arial, cursive;
}

@mixin body-font() {
  font-family: "Emeric", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin heading-font() {
  //font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: "Emeric", 'Helvetica Neue', Helvetica, sans-serif;
}
