// Variables

$mo-green: #ccff33;
$mo-blue: #00add0;
$mo-lilac: #8f8dcb;
$mo-grey: #9ca299;
$mo-light-grey: #babcbe;
$mo-medium-grey: #6c6d6f;
$mo-dark-grey: #414042;

$brand-primary: $mo-green;
$brand-danger: #e74c3c;
$gray-darkest: #222;
$gray: #777;
$gray-lighter: #EDEDED;
$placeholder-text: #bbbbbb;

// Timeline

$timeline-border-color: $mo-light-grey;

// Header images

$header-front: 'https://s3-eu-west-1.amazonaws.com/informatics-webimages/CB5A1046.jpg';
$header-blog: '/img/home-main-header.jpg';

$contact-image: 'https://s3-eu-west-1.amazonaws.com/informatics-webimages/CB5A1072.jpg';
