// Variables

$mo-green: #ccff33;
$mo-blue: #00add0;
$mo-lilac: #8f8dcb;
$mo-grey: #9ca299;
$mo-light-grey: #babcbe;
$mo-medium-grey: #6c6d6f;
$mo-dark-grey: #414042;

$brand-primary: $mo-green;
$brand-danger: #e74c3c;
$gray-darkest: #222;
$gray: #777;
$gray-lighter: #f7f7f7;
$placeholder-text: #bbbbbb;

// Timeline

$timeline-border-color: #ffffff;

// Header images

$header-front: '/img/home-main-header.jpg';
$header-blog: '/img/home-main-header.jpg';

$contact-image: '/img/contact-us.jpg';
