.front-header {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;

  .background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url($header-front);
  }

  .darken {
    background-color: black;
    opacity: 0.6;
  }

  .background, .darken {
    position: absolute;
    z-index: -1;
    top: 0px;
    width: 100%;
    height: 100%;
  }

  .intro-text {
    color: white;
    margin-top: 50px;
    margin-bottom: 100px;
  }

  .hexagons {
    position: absolute;
    content: ' ';
    width: 80%;
    height: 100%;
    background-image: url('https://s3-eu-west-1.amazonaws.com/informatics-webimages/hexforweb-04.svg');
    background-position: center;
    background-repeat: no-repeat;
  }

  #hex-1 {
    left: 0;
    top: 0;
    margin-left: -700px;
  }

  #hex-2 {
    right: 0;
    top: 0;
    margin-right: -900px;
  }
}

// Intro Video

.fullscreen-bg {
  position: absolute;
  z-index: -100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  z-index: -100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url($header-front) center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}

// Blog Section

#blog {

  @include a-variant(black);

  #date {
    font-weight: lighter;
    font-size: 12px;
    color: $mo-dark-grey;
  }

  .blog-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    margin-left: 0px;
    margin-right: 0px;
    cursor: pointer;
  }

  .blog-entry {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    padding: 15px;
    height: 200px;
    overflow: hidden;
    background-color: white;

    h3 {
      font-size: 18px;
      font-weight: bold;
      margin-top: 10px;
    }
  }

  .blog-more {
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0px;
    margin-right: 20px;
  }

  @media(min-width:768px) {
    .container {
    }
  }

}


// Portfolio Section

#projects {

  padding-bottom: 0px;

  @include a-variant(black);

  .container {
  }

  .project-item {
    margin: 0 0 15px;
    right: 0;

    .project-image {
      height: 200px;
      cursor: pointer;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .project-link {
      display: block;
      position: relative;
      max-width: 400px;
      margin: 0 auto;
    }
    .project-caption {
      background-color: white;
      max-width: 400px;
      margin: 0 auto;
      text-align: center;
      padding: 25px;
      height: 125px;
      overflow-y: hidden;
      h4 {
        text-transform: none;
        margin: 0;
        height: 2em;
      }
      p {
        @include serif-font;
        font-style: italic;
        font-size: 16px;
        margin: 0;
      }
      img {
        width: 25px;
        height: 25px;
        margin-top: 25px;
        margin-left: 2px;
        border-radius: 2px;
      }
    }
  }
  * {
    z-index: 2;
  }
}

@media(min-width:767px) {
  #projects {
    .project-item {
      margin: 0 0 30px;
    }
  }
}

// Clients Aside

aside.clients {
  img {
    margin: 50px auto;
  }
}

// Contact Section

section#contact {
  padding: 100px 0;
  position: relative;
  height: 100%;


  h3.section-subheading {
    border-bottom: none;
  }

  .background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url($contact-image);
  }

  .darken {
    background-color: white;
    opacity: 0.8;
  }

  .background, .darken {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
  }

  .form-group {
    margin-bottom: 25px;
    input,
    textarea {
      padding: 20px;
      border-radius: 0;
      border: none;
    }
    input.form-control {
      height: auto;
    }
    textarea.form-control {
      height: 230px;
    }
  }
  .form-control:focus {
    border-color: $brand-primary;
    box-shadow: none;
  }
  ::-webkit-input-placeholder {
    @include heading-font;
    font-weight: 700;
    color: $placeholder-text;
  }
  :-moz-placeholder { /* Firefox 18- */
    @include heading-font;
    font-weight: 700;
    color: $placeholder-text;
  }
  ::-moz-placeholder {  /* Firefox 19+ */
    @include heading-font;
    font-weight: 700;
    color: $placeholder-text;
  }
  :-ms-input-placeholder {
    @include heading-font;
    font-weight: 700;
    color: $placeholder-text;
  }
  .text-danger {
    color: $brand-danger;
  }
}
