// Get Involved Section

#get-involved {
  .get-involved-heading {
    margin: 15px 0;
    text-transform: none;
    font-size: 28px;
    @include a-variant($mo-dark-grey);
  }
}

// Blog Section

section#blog {

  @include a-variant(black);

  h3 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
  }

  #date {
    font-weight: lighter;
    font-size: 12px;
    color: $mo-dark-grey;
  }

  .blog-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    margin-left: 0px;
    margin-right: 0px;
    cursor: pointer;
  }

  .blog-entry {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    padding: 15px;
    height: 200px;
    overflow: hidden;
    background-color: white;

  }

  .blog-more {
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0px;
    margin-right: 20px;
  }

  @media(min-width:768px) {
    .container {
      padding-left: 10%;
      padding-right: 10%;
    }
  }

}


// Portfolio Section

#projects {
  .portfolio-item {
    margin: 0 0 15px;
    right: 0;
    .portfolio-link {
      display: block;
      position: relative;
      max-width: 400px;
      margin: 0 auto;
      .img-responsive {
        height: 220px;
        margin: 0 auto;
      }
      .portfolio-hover {
        background: fade($brand-primary, 90%);
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all ease 0.5s;
        -webkit-transition: all ease 0.5s;
        -moz-transition: all ease 0.5s;
        &:hover {
          opacity: 1;
        }
        .portfolio-hover-content {
          position: absolute;
          width: 100%;
          height: 20px;
          font-size: 20px;
          text-align: center;
          top: 50%;
          margin-top: -12px;
          color: white;
          i {
            margin-top: -12px;
          }
          h3,
          h4 {
            margin: 0;
          }
        }
      }
    }
    .portfolio-caption {
      max-width: 400px;
      margin: 0 auto;
      background-color: white;
      text-align: center;
      padding: 25px;
      h4 {
        text-transform: none;
        margin: 0;
        height: 2em;
      }
      p {
        @include serif-font;
        font-style: italic;
        font-size: 16px;
        margin: 0;
      }
    }
  }
  * {
    z-index: 2;
  }
}

@media(min-width:767px) {
  #portfolio {
    .portfolio-item {
      margin: 0 0 30px;
    }
  }
}

// Team Section

.team-member {
  text-align: center;
  margin-bottom: 50px;
  @include a-variant($gray-darkest);
  .mugshot {
    margin: 0 auto;
    border: 7px solid $mo-light-grey;
    height: 200px;
    width: 200px;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
    cursor: pointer;
  }
  .summary {
    height: 5em;
    overflow: none;
  }
  h4 {
    padding: 0.1em 0.5em;
    margin-top: 25px;
    margin-bottom: 10px;
    text-transform: none;
    font-size: 24px;
  }
  p {
    margin-top: 0;
  }
}

// Clients Aside

aside.clients {
  img {
    margin: 50px auto;
  }
}

// Contact Section

section#contact {
  background-color: $gray-darkest;
  background-image: url($contact-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
  .section-heading {
    margin-bottom: 100px;
  }
  .contact-us-social {
    margin-top: -80px;
  }
  .form-group {
    margin-bottom: 25px;
    input,
    textarea {
      padding: 20px;
    }
    input.form-control {
      height: auto;
    }
    textarea.form-control {
      height: 236px;
    }
  }
  .form-control:focus {
    border-color: $brand-primary;
    box-shadow: none;
  }
  ::-webkit-input-placeholder {
    @include heading-font;
    font-weight: 700;
    color: $placeholder-text;
  }
  :-moz-placeholder { /* Firefox 18- */
    @include heading-font;
    font-weight: 700;
    color: $placeholder-text;
  }
  ::-moz-placeholder {  /* Firefox 19+ */
    @include heading-font;
    font-weight: 700;
    color: $placeholder-text;
  }
  :-ms-input-placeholder {
    @include heading-font;
    font-weight: 700;
    color: $placeholder-text;
  }
  .text-danger {
    color: $brand-danger;
  }
}
