.blog-top-header {
  position: absolute;
  padding-top: 100px;
  margin-top: 0;
  .intro-text {
    .intro-heading {
      color: white;
    }
  }
}
.blog-header {
  padding-top: 100px;
  padding-bottom: 50px;
}

.post-header {
  margin-top: -20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  span {
    margin: 0 20px;
    padding: 2px 0px;
    color: white;
  }
  a {
    color: white;
  }
}

.post-content {
  width: 90%;
  margin: 50px auto;

  @include a-variant($mo-blue);

  a {
    color: $mo-lilac;
    &:hover {
      color: $mo-lilac;
    }
  }

  img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }

  code {
    /* inline codeblocks should be smaller */
    font-size: 0.8em;
  }

  pre {
    code {
      font-size: 1em;
    }
  }

  blockquote {
    p {
      cite {
        line-height: 3em;
        color: $gray;
      }
    }
    border-left-color: $mo-medium-grey;
  }

  .demos {

    margin-bottom: 30px;

    .demo {
      text-align: center;
      margin-bottom: 20px;

      img {
        margin-bottom: 10px;
        height: 130px;
      }

      .date {
        color: #777;
        font-style: italic;
      }
      .description {
        display: none;
        height: 2em;
      }
    }

  }
}

@media(min-width:768px) {
  .post-content {
    width: 70%;
  }
  .blog-top-header {
    padding-top: 75px;
  }
}

.written-by-footer {
  text-align: center;
  .heading {
    a {
      padding: 2px 5px;
      color: black;
    }
  }
  .summary {
    font-style: italic;
  }
}

/* Side notes for calling out things
-------------------------------------------------- */

/* Base styles (regardless of theme) */
.application-notice, .advisory {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;

  h4 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

/* Themes for different contexts */
.help-notice {
  border-left-color: #aa6708;
  h4 {
    color: #aa6708;
  }
}
.info-notice {
  border-left-color: #1b809e;
  h4 {
    color: #1b809e;
  }
}
.advisory {
  border-left-color: #ce4844;
  h4 {
    color: #ce4844;
  }
}
