.post-content {
  width: 70%;
  margin: 50px auto;

  @include a-variant($mo-blue);

  img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
}

.post-header {
  margin-top: -20px;
  margin-bottom: 20px;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  span {
    margin: 0 20px;
    padding: 2px 5px;
    background: $mo-dark-grey;
    color: $brand-primary;
  }
}

.written-by-footer {
  text-align: center;
  .heading {
    a {
      padding: 2px 5px;
      background: $mo-dark-grey;
      color: $brand-primary;
    }
  }
  .summary {
    font-style: italic;
  }
}
