article.profile {
  padding-top: 50px;

  h2 {
    color: $mo-dark-grey;
    text-align: center;
    width: 100%;
  }

  .mugshot {
    width: 300px;
    height: 350px;
  }

  .location-wrapper {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }

  .location {
    font-size: 0.8em;
    margin-left: 5px;
    color: $mo-medium-grey;
  }

  .social-buttons {
    text-align: center;
    margin-bottom: 20px;

    li {
      a {
        background-color: transparent;
        color: $mo-dark-grey;
        font-size: 20px;
      }
    }
  }


}
