---
layout: default
---

<h2>Core members</h2>
<p>These are the core members who work full time for the Lab.</p>

{% for profile in site.profiles %}
	{% if profile.affiliation == 'core' %}
		<ul>
			<h4><a href={{ profile.url }}>{{ profile.title }}</a></h4>
			<p>{{ profile.summary }}</p>
		</ul>
	{% endif %}
{% endfor %}

<h2>Lab Associates</h2>
<p>Lab assiciates contribute to Lab projects along site their commitments to their "day job". We have Associates from inside and outside the Met Office, so if you'd like to be involved in a semi-formal capacity, then get in touch.<p>

{% for profile in site.profiles %}
	{% if profile.affiliation == 'associate' %}
		<ul>
			<h4><a href={{ profile.url }}>{{ profile.title }}</a></h4>
			<p>{{ profile.summary }}</p>
		</ul>
	{% endif %}
{% endfor %}
