<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our mission</h2>
                <h3 class="section-subheading text-muted">Making data useful</h3>
                <p class="post-content">We rapidly develop <a href=http://www.informaticslab.co.uk/#projects>prototypes</a> which explore how we can use new technology, science and design to make our data useful. We innovate by making things which explore and demonstrate new ideas. Our group comprises people with backgrounds in data science, technology and design. However, we leave our job titles at the door, and all pitch in working closely together to make things happen. In additon, we explore new ways of working to find out how we can be productive and innovative.</p>
            </div>
        </div>
    </div>
</section>
