{% if post.thumbnail %}
{% assign image_url = post.thumbnail %}
{% else %}
{% assign image_url = site.default_blog_thumbnail %}
{% endif %}

<li class="{% cycle '','timeline-inverted' %}">
    <div class="timeline-image img-circle img-responsive" style="background-image: url({{ image_url }});" onclick="location.href='{{ post.url | prepend: site.baseurl }}';">
    </div>
    <div class="timeline-panel">
        <div class="timeline-heading">
            <h4>{{ post.date | date: "%b %-d, %Y" }}</h4>
            <h4 class="subheading"><span><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></span></h4>
        </div>
        <div class="timeline-body">
            {{ post.summary }}
        </div>
        {% if post.categories contains 'sticky' %}
        <div><span class="label sticky">Featured Post</span></div>
        {% endif %}
    </div>
</li>
