<!-- Blog Section -->
<section id="blog" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Blog</h2>
                <h3 class="section-subheading text-muted">Keep up-to-date with whats happening in the Lab.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                  {% for post in site.categories.sticky %}
                    {% include blog-post-snippet.html %}
                  {% endfor %}

                  {% for post in site.posts | limit: site.post_limit %}
                    {% if post.categories contains 'sticky' %}
                      <!-- do nothing -->
                    {% else %}
                      {% include blog-post-snippet.html %}
                    {% endif %}
                  {% endfor %}

                  <li class="timeline-inverted">
                      <a href="/blog"><div class="timeline-image">
                          <h4>See
                              <br>All Our
                              <br>Blogs!</h4>
                      </div></a>
                  </li>
                </ul>
            </div>
        </div>
    </div>
</section>
