{% if post.thumbnail %}
{% assign image_url = post.thumbnail %}
{% else %}
{% assign image_url = site.default_blog_thumbnail %}
{% endif %}

<li class="{% cycle '','timeline-inverted' %}">
    <div class="timeline-image">
        <a href="{{ post.url | prepend: site.baseurl }}"><img class="img-circle img-responsive" src="{{ image_url }}" alt="{{ post.title }}"></a>
    </div>
    <div class="timeline-panel">
        <div class="timeline-heading">
            <h4>{{ post.date | date: "%b %-d, %Y" }}</h4>
            <h4 class="subheading"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h4>
        </div>
        <div class="timeline-body">
            {{ post.summary }}
        </div>
    </div>
</li>
