<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>

<div id="issues" class="posts"></div>

<script>
var data;
$.getJSON("https://api.github.com/search/issues?q=user:met-office-lab+is:open+is:issue+label:featured",
	function(thisData){
		data = thisData;
		console.log(data);
		addIssues(data);
	});

var addIssues = function(data){
	if (data.items.length > 0) {
		$("#issues.posts").append("<h3>Featured Issues</h3><p>These are the things that we are particularly looking for help with right now.</p><ul class='timeline'>")
	}

	$.each(data.items, function(index, issue){
		$("#issues.posts").append(
 			"<li class='timeline-inverted'> \
 				<div class='timeline-panel'> \
	        	 	<div class='timeline-heading>' \
	        	 		<h4>"+moment(issue.created_at).format('MMM Do, YYYY')+"</h4> \
	        	 		<h4 class='subheading'><span><a href="+issue.html_url+">"+issue.title+"</a></span></h4> \
	        	 	</div> \
	        	 	<div class='timeline-body'>"+issue.body.substring(0, 200)+"...</div> \
	        	 </div> \
	        </li>"
			);
	});

	$("#issues.posts").append("</ul>");
}
</script>