<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; Crown 2015</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="{{ site.twitter-url }}"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="{{ site.github-url }}"><i class="fa fa-github"></i></a>
                    </li>
                    <li><a href="{{ site.instagram-url }}"><i class="fa fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="/">Privacy Policy</a>
                    </li>
                    <li><a href="/">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
