<!-- Get Involved Section -->
<section id="get-involved">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Get Involved</h2>
                <h3 class="section-subheading text-muted">How can you get involved with the Informatics Lab</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-6 col-md-3">
                <a href="/get-involved/coder/">{% include images/coder.svg %}</a>
                <h4 class="get-involved-heading"><a href="/get-involved/coder/">Coder</a></h4>
                <p class="text-muted">Write some code</p>
            </div>
            <div class="col-sm-6 col-md-3">
                <a href="/get-involved/scientist/">{% include images/scientist.svg %}</a>
                <h4 class="get-involved-heading"><a href="/get-involved/scientist/">Scientist</a></h4>
                <p class="text-muted">Solve science puzzles</p>
            </div>
            <div class="col-sm-6 col-md-3">
                <a href="/get-involved/designer/">{% include images/designer.svg %}</a>
                <h4 class="get-involved-heading"><a href="/get-involved/designer/">Designer</a></h4>
                <p class="text-muted">Create nifty visualisations</p>
            </div>
            <div class="col-sm-6 col-md-3">
                <a href="/get-involved/user/">{% include images/user.svg %}</a>
                <h4 class="get-involved-heading"><a href="/get-involved/user/">User</a></h4>
                <p class="text-muted">Test out lab prototypes</p>
            </div>
        </div>
    </div>
</section>
