<header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
    <div class="measure">
      <picture>
  <source media="(min-width: 50em)" srcset="../images/header.png" />
  <source media="(min-width: 40em)" srcset="../images/header_small.png" />
  <source media="(min-width: 30em)" srcset="../images/header_smaller.png" />
  <source media="(min-width: 20em)" srcset="../images/header_smallest.png" />
  <img src="../images/header.png" />
</picture>
      <nav class="site-nav right">
        {% include navigation.html %}
      </nav>
      <div class="clearfix"></div>
      {% if site.show_social_icons %}
        {% include social_links.html %}
      {% endif %}
    </div>
  </div>
</header>
