<nav class="navbar navbar-default navbar-header" role="navigation">

	<div class="hex-border navbar-toggle pull-left" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
	</div>

	<div class="navbar-collapse collapse hex-border">
		<ul class="nav nav-justified">
			<li role="presentation active"><a href="/">Blog</a></li>
			<li role="presentation"><a href="/projects/">Projects</a></li>
			<li role="presentation"><a href="/who-we-are/">Who&nbsp;We&nbsp;Are</a></li>
			<li role="presentation"><a href="/get-involved/">Get&nbsp;involved</a></li>
		</ul>
	</div>
</nav>
