<ul class="pager">
  {% if paginator.next_page %}
    <li class="previous"><a class="pagination-item" href="{{ site.baseurl }}/page{{paginator.next_page}}/">Older</a></li>
  {% else %}
    <li class="previous disabled"><span class="pagination-item">Older</span></li>
  {% endif %}

  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <li class="next"><a class="pagination-item" href="{{ site.baseurl }}/">Newer</a></li>
    {% else %}
      <li class="next"><a class="pagination-item" href="{{ site.baseurl }}/page{{paginator.previous_page}}/">Newer</a></li>
      {% endif %}
  {% else %}
    <li class="next disabled"><span class="pagination-item">Newer</span></li>
  {% endif %}
</ul>
