<div class="col-md-4 col-sm-6 project-item">
    <div class="project-image img-responsive lazyload" data-original="{{ project.thumbnail }}" style="background-image: url(/img/grey.gif);" onclick="location.href='{{ project.url | prepend: site.baseurl }}';">
    </div>
    <div class="project-caption">
        <a href="{{ project.url | prepend: site.baseurl }}">
          <h4>{{ project.title }}</h4>
        </a>
        {% if project.completed == false %}
        <p class="text-muted">In progress</p>
        {% else %}
        <p class="text-muted">Completed</p>
        {% endif %}
    </div>
</div>
