<head><link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"></head>

{% if site.email %}<a href="mailto:{{ site.email }}" target="_new"><i class="fa fa-envelope"></i></a>{% endif %}
{% if site.twitter-url %}<a href="{{ site.twitter-url }}" target="_new"><i class="fa fa-twitter"></i></a>{% endif %}
{% if site.googleplus-url %}<a href="{{ site.googleplus-url }}" target="_new"><i class="fa fa-google-plus"></i></a>{% endif %}
{% if site.linkedin-url %}<a href="{{ site.linkedin-url }}" target="_new"><i class="fa fa-linkedin"></i></a>{% endif %}
{% if site.github-url %}<a href="{{ site.github-url }}" target="_new"><i class="fa fa-github"></i></a>{% endif %}
{% if site.stackoverflow-url %}<a href="{{ site.stackoverflow-url }}" target="_new"><i class="fa fa-stack-overflow"></i></a>{% endif %}