<ul class="list-inline social-buttons">
    {% if site.twitter-url %}<li><a href="mailto:{{ site.email }}" target="_new"><i class="fa fa-envelope"></i></a></li>{% endif %}
    {% if site.twitter-url %}<li><a href="{{ site.twitter-url }}"><i class="fa fa-twitter"></i></a></li>{% endif %}
    {% if site.github-url %}<li><a href="{{ site.github-url }}"><i class="fa fa-github"></i></a></li>{% endif %}
    {% if site.instagram-url %}<li><a href="{{ site.instagram-url }}"><i class="fa fa-instagram"></i></a></li>{% endif %}
    {% if site.calendar-url %}<li><a href="{{ site.calendar-url }}"><i class="fa fa-calendar"></i></a></li>{% endif %}
</ul>
