<div>
	{% if page.email %}<a href="mailto:{{ page.email }}" target="_new"><i class="fa fa-envelope"></i></a>{% endif %}
	{% if page.twitter-url %}<a href="{{ page.twitter-url }}" target="_new"><i class="fa fa-twitter"></i></a>{% endif %}
	{% if page.googleplus-url %}<a href="{{ page.googleplus-url }}" target="_new"><i class="fa fa-google-plus"></i></a>{% endif %}
	{% if page.linkedin-url %}<a href="{{ page.linkedin-url }}" target="_new"><i class="fa fa-linkedin"></i></a>{% endif %}
	{% if page.github-url %}<a href="{{ page.github-url }}" target="_new"><i class="fa fa-github"></i></a>{% endif %}
	{% if page.stackoverflow-url %}<a href="{{ page.stackoverflow-url }}" target="_new"><i class="fa fa-stack-overflow"></i></a>{% endif %}
	{% if site.instagram-url %}<a href="{{ site.instagram-url }}" target="_new"><i class="fa fa-instagram"></i></a>{% endif %}
</div>
