<!-- A Single team member -->
<div class="col-sm-6 col-md-3 col-lg-3">
    <div class="team-member">
        {% if profile.mugshot %}
            {% capture mugshot %}{{profile.mugshot}}{% endcapture %}
        {% else %}
            {% assign mugshot = "http://www.gravatar.com/avatar/00000000000000000000000000000000?s=500&d=mm" %}
        {% endif %}
        <div class="mugshot img-responsive lazyload" data-original="{{ mugshot }}" style="background-image: url(/img/grey.gif);" onclick="location.href='{{ profile.url | prepend: site.baseurl }}';">
        </div>
        <div class="text">
          <a href="{{ profile.url | prepend: site.baseurl }}"><h4>{{ profile.name }}</h4></a>
          <p class="text-muted summary">{{ profile.summary | truncatewords: 13 }}</p>
        </div>
        {% include team-social-links.html %}
    </div>
</div>
