<!-- A Single team member -->
<div class="col-sm-3 col-md-3 col-lg-3">
    <div class="team-member">
        {% if profile.mugshot %}
            {% capture mugshot %}{{ site.image-bin }}{{ profile.mugshot}}{% endcapture %}
        {% else %}
            {% assign mugshot = "http://www.gravatar.com/avatar/00000000000000000000000000000000?s=500&d=mm" %}
        {% endif %}
        <div class="mugshot img-responsive img-circle" style="background-image: url({{ mugshot }});">
        </div>
        <h4>{{ profile.name }}</h4>
        <p class="text-muted">{{ profile.summary }}</p>
        {% include team-social-links.html %}
    </div>
</div>
