@import "meto-informatics-lab/_variables";
@import "meto-informatics-lab/_mixins";
@import "meto-informatics-lab/front";
@import "meto-informatics-lab/post";
@import url(http://fonts.googleapis.com/css?family=Rokkitt);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

// Global Components

body {
  overflow-x: hidden;
  @include body-font;
}

.text-muted {
  color: $gray;
}

.text-primary {
  color: $brand-primary;
}

p {
  font-size: 14px;
  line-height: 1.75;
}

p.large {
  font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}

a {
  color: $brand-primary;
}

a:hover,
a:focus,
a:active,
a.active {
  color: darken($brand-primary, 10%);
}

h1, h2, h3, h4, h5, h6 {
   @include heading-font;
  font-weight: 700;
}

.img-centered {
  margin: 0 auto;
}

.bg-light-gray {
  background-color: $gray-lighter;
}

.bg-darkest-gray {
  background-color: $gray-darkest;
}

//custom button styling
.btn-primary {
  @include button-variant($gray-darkest, $brand-primary, $brand-primary);
  @include heading-font;
  font-weight: 700;
}

.btn-xl {
  @include button-variant($gray-darkest, $brand-primary, $brand-primary);
  @include heading-font;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}

// Custom Navigation Bar

.navbar-default {
  background-color: $gray-darkest;
  border-color: transparent;
  .navbar-brand {
    color: $brand-primary;
    @include script-font;
    &:hover,
    &:focus,
    &:active,
    &.active {
      color: darken($brand-primary, 10%);
    }
  }
  .navbar-collapse {
    border-color: fade(white, 2%);
  }
  .navbar-toggle {
    background-color: $brand-primary;
    border-color: $brand-primary;
    .icon-bar {
      background-color: white;
    }
    &:hover,
    &:focus {
      background-color: $brand-primary;
    }
  }
  .nav {
    li {
      a {
        @include heading-font;
        font-weight: 400;
        letter-spacing: 1px;
        color: white;
        &:hover,
        &:focus {
          color: $brand-primary;
          outline: none;
        }
      }
    }
  }
  .navbar-nav>.active>a {
    border-radius: 0;
    color: $gray-darkest;
    background-color: $brand-primary;
  }
  .navbar-nav>.active>a:hover,
  .navbar-nav>.active>a:focus {
    color: $gray-darkest;
    background-color: darken($brand-primary, 10%);
  }
}

.navbar-logo {
  height: 50px;
}


@media(min-width:768px) {
  .navbar-default {
    background-color: $gray-darkest;
    padding: 10px 0 10px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
    .navbar-brand {
      padding: 0;
      font-size: 2em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    .navbar-nav>.active>a {
      border-radius: 3px;
    }
  }
  .navbar-default.navbar-shrink {
    background-color: $gray-darkest;
    padding: 10px 0 10px 0;
    .navbar-brand {
      font-size: 1.5em;
    }
  }
}

header {
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  @include background-cover;
  text-align: center;
  color: white;
  .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
    .intro-lead-in {
      @include serif-font;
      font-style: italic;
      font-size: 22px;
      line-height: 22px;
    }
    .intro-heading {
      @include heading-font;
      font-weight: 700;
      font-size: 30px;
      line-height: 30px;
      color: $gray-darkest;

      span {
        background-color: white;
        padding: 0 10px;
      }
    }
    .btn {
      text-transform: uppercase;
    }
  }
}
.front-header {
  background-image: url($header-front);
  .intro-heading {
    margin-top: 50px;
    margin-bottom: 100px;
  }
}
.blog-header {
  background-image: url($header-blog);
}

@media(min-width:768px) {
  header {
    .intro-text {
      padding-top: 100px;
      padding-bottom: 0px;
      .intro-lead-in {
        @include serif-font;
        font-style: italic;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px;
      }
      .intro-heading {
        @include heading-font;
        font-weight: 200;
        font-size: 55px;
        line-height: 75px;
        margin-bottom: 50px;
      }
    }
  }
  .front-header {
    .intro-text{
      padding-bottom: 300px;

      .intro-heading {
        margin-top: 100px;
      }
    }
  }
}

// Global Section Styles

section {
  padding: 100px 0;
  h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  h3.section-subheading {
    font-size: 16px;
    @include serif-font;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 75px;
  }
}

@media(min-width:768px) {
  section {
    padding: 150px 0;
  }
}



// Footer

footer {
  padding: 25px 0;
  text-align: center;
  span.copyright {
    line-height: 40px;
    @include heading-font;
    text-transform: none;
  }
  ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    @include heading-font;
    text-transform: none;
  }
}

// Social Buttons

ul.social-buttons {
  margin-bottom: 0;
  li {
    a {
      display: block;
      background-color: $gray-darkest;
      height: 40px;
      width: 40px;
      border-radius: 100%;
      font-size: 20px;
      line-height: 40px;
      color: white;
      outline: none;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      &:hover,
      &:focus,
      &:active {
        background-color: $brand-primary;
      }
    }
  }
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;
}

// Highlight Color Customization

::-moz-selection {
  text-shadow: none;
  background: $brand-primary;
}

::selection {
  text-shadow: none;
  background: $brand-primary;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  webkit-tap-highlight-color: $brand-primary;
}
