---
layout: page
title: Who We Are
permalink: /who-we-are/
---

<p>The Met Office Informatics Lab combines scientists,
	software engineers, and designers to create new things.
	We try to rapidly
	prototype non-business-as-usual ideas that allow people from
	within the Met Office (and beyond) to make our science and data
	useful.</p>

<p>The core group works as part of the UK's
	<a href="http://www.metoffice.gov.uk">Met Office</a>,
	which is one of the world's
	<a href="http://www.metoffice.gov.uk/about-us/who/accuracy">
	leading operational weather forecasters</a> and
	<a href="http://www.metoffice.gov.uk/climate-guide/science/science-behind-climate-change/hadley">
	climate change research institutes</a>.
	However, we are really keen to work with anyone who has an
	interest and wants to collaborate on any of our projects.</p>

<h2>Core members</h2>
<p>These are the core members who work full time for the Lab:</p>

{% for profile in site.profiles %}
	{% if profile.affiliation == 'core' %}
		{% include mugshot.html %}
	{% endif %}
{% endfor %}

<h2>Lab Associates</h2>
<p>Associates contribute to Lab projects 
	while doing their "day job". We have Associates
	from inside and outside the Met Office,
	if you'd like to be involved, get in touch.<p>

{% for profile in site.profiles %}
	{% if profile.affiliation == 'associate' %}
		{% include mugshot.html %}
	{% endif %}
{% endfor %}
