---
layout: default
---

{{ content }}

{% assign project_overviews = site.projects | where: "project", page.project %}
{% assign project_posts = site.posts | where: "project", page.project %}
{% if project.size > 0 or project_posts.size > 0 %}
<h2>Related links</h2>
{% endif %}

{% if project_overviews.size > 0 %}
<h3>Project Overview</h3>
{% for project_overview in project_overviews %}
<div class="post">
	<a href="{{ project_overview.url | prepend: site.baseurl }}" class="post-link">
		<h4 class="post-title">{{ project_overview.title }}</h4>
		<p class="post-summary">{{ project_overview.summary | strip_html }}</p>
	</a>
</div>
{% endfor %}
{% endif %}

{% if project_posts.size > 0 %}
<h3>Related blog posts</h3>
News items related to this project
{% for project_post in project_posts %}
<div class="post">
	<a href="{{ project_post.url | prepend: site.baseurl }}" class="post-link">
		<h4 class="post-title">{{ project_post.title }}</h4>
		<p class="post-summary">{{ project_post.summary | strip_html}}</p>
	</a>
</div>
{% endfor %}
{% endif %}	