---
layout: default
---
{% assign profile = page %}
<body>


	{% include navigation.html %}

	<article class="post-content profile">
    {% if page.mugshot %}
      <div class="team-member">
        <div class="mugshot img-responsive" style="background-image: url({{ site.image-bin }}{{ page.mugshot }});">
        </div>
      </div>
    {% endif %}

    <h2>{{ page.name }}</h2>
    {% include team-social-links.html %}
    
		{{ content }}


		{% assign user_posts = site.posts | where: "author", page.name %}
		{% if user_posts.size > 0 %}
		<h3>Articles by {{ page.name }}</h3>
		{% for post in user_posts %}
		<div class="post">
			<span>{{ post.date | date: "%b %-d, %Y" }}</span> -
			<a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
				<span class="post-title">{{ post.title }}</span>
			</a>
		</div>
		{% endfor %}
		{% endif %}

	</article>

	{% include footer.html %}
</body>
