---
layout: default
---

<body>

{% include navigation.html %}


<!-- Header image -->
<figure class="tint">
	{% if page.header %}
	  <div class="headerbkg" style="background-image: url({{ page.header }});">
	{% else %}
	  <div class="headerbkg" style="background-image: url(https://s3-eu-west-1.amazonaws.com/informatics-webimages/header-default-lighter.jpg);">
	{% endif %}
	  </div>
	<header class="blog-top-header">
	    <div class="container">
	        <div class="intro-text">
	            <div class="intro-heading"><span>{{ page.title }}</span></div>
	        </div>
	        <div class="post-header">
	          <span class="post-meta">{{ page.summary }}</span>
	        </div>
	    </div>
	</header>
</figure>

<article class="post-content">
  {% if page.demos %}
  <div class="demos">
    <h2>Demos</h2>
    {% for demo in page.demos %}
    <div class="col-md-4 demo">
      <a href="{{ demo.demo-url }}">
        <img src="{{ demo.thumb }}" alt="{{ demo.name }} Screenshot" title="{{ demo.description }}" /><br />
        {{ demo.name }}
      </a><br />
      <a href="{{ demo.git-url }}"><i class="fa fa-github"></i> source code</a><br />
      <span class="date">{{ demo.date }}</span><br />
      <span class="description">{{ demo.description }}</span>
    </div>
  	{% endfor %}
    <div class="clearfix"></div>
  </div>
	{% endif %}

    {{ content }}

	{% assign project_concept_notes = site.concept-notes | where: "project", page.project %}
	{% assign project_posts = site.posts | where: "project", page.project %}
	{% if project_concept_notes.size > 0 or project_posts.size > 0 %}
	<!-- <h3>Related links</h3> -->
	{% endif %}

	{% if project_concept_notes.size > 0 %}
	<h3>Concept Notes</h3>
	Concept notes are more technical specifications of aspects of a project.
	{% for concept_note in project_concept_notes %}
	<div class="post">

			<h4 class="post-title">
				<a href="{{ concept_note.url | prepend: site.baseurl }}" class="post-link">{{ concept_note.title }}</a>
			</h4>
			<p class="post-summary">{{ concept_note.summary | strip_html }}</p>

	</div>
	{% endfor %}
	{% endif %}

	{% if project_posts.size > 0 %}
	<h3>Related blog posts</h3>
	{% for project_post in project_posts %}
	<div class="post">
		<span>{{ project_post.date | date: "%b %-d, %Y" }}</span> -
		<a href="{{ project_post.url | prepend: site.baseurl }}" class="post-link">
			<span class="post-title">{{ project_post.title }}</span>
		</a>
	</div>
	{% endfor %}
	{% endif %}

</article>

{% include footer.html %}
</body>
