<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <link href="/css/year-one.css" rel="stylesheet"/>
  </head>

  <body>

    <article class="year-one">
      <div class="background" id="background_one"></div>
      <div class="background" id="background_two"></div>
      <a href="/">
        <img id="logo" src="https://s3-eu-west-1.amazonaws.com/informatics-webimages/articles/2016-03-30-year-one/monologo.svg" alt="Met Office Logo" />
      </a>
      {{ content }}
    </article>

    <footer>
      Copyright &copy; Crown {{ site.time | date: '%Y' }}
    </footer>

    <script src="/js/year-one.js"></script>

  </body>

</html>
